extends layout
 
block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
 
  script(src="/socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.10.1.min.js")
  script(src="/javascripts/chat.js")
 
block content
  h1 Chat
 iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Forderzapp&width&height=290&colorscheme=light&show_faces=true&header=true&stream=false&show_border=true&appId=276026355925424', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 290px;', allowtransparency='true')
  label(for="userName") User name: (Hit Enter) 
  input#userName(type="text", size="30")
  span#feedback
 
  p
  div#msgWindow.shadow
 
  p
  div
    br
    table
      tr
        td
          select#users(style="width: 100px")
        td
          input#msg(type="text", style="width: 600px", disabled="true")
